.ContactUs {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUs h1 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.ContactUs-Content {
  position: absolute;
  top: 42%;
  transform: translateY(-42%);
  left: 2rem;
  -webkit-transform: translateY(-42%);
  -moz-transform: translateY(-42%);
  -ms-transform: translateY(-42%);
  -o-transform: translateY(-42%);
}
